[2014-08-23 02:46] tseemann opened #1 "Don't force velvet binaries to be in particular folders"
"Velvet must be installed to run SISRS. The installation folder must be in your /usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/home/torsten/bin. Aborting."

My velveth and velvetg binaries are in the $PATH.
I shouldn't need to make symlinks to specific places.

Perhaps test for it in your BASH script using "which velvetg" and checking the return code $? being 0 (found it) or 1 (not

[2014-08-26 21:04] #1 closed, assigned to nobody

[2015-01-14 23:15] rachelss opened #2 "(re)move test dataset"

[2015-02-18 17:32] rachelss opened #4 "use compressed data"

[2015-03-14 00:31] rachelss opened #7 "subsample unpaired data"

[2015-03-14 00:31] rachelss commented on #7
Currently all unpaired data are used, despite being labeled as subsampled.

[2015-03-14 00:37] rachelss opened #8 "Move test data"

[2015-04-06 20:21] #2 closed

[2015-04-06 20:21] #7 closed

[2015-04-13 18:56] rachelss opened #9 "fix cases where R1 or R2 is in file name"

[2015-04-24 08:40] snacktavish commented on #9
just as a comment - while you do this might want to accept '_1 'and '_2' as read signifiers. That is how fastq-dump from the sra toolkit labels the fastq files.

[2015-05-22 03:03] rachelss opened #10 "add / fix locus phasing"

[2015-12-24 19:01] dence opened #11 "_R1 vs R1"
Hi, I think there's an inconsistency in the documentation about naming the paired end files. The readme says R1 and _R1, but the subsampling script is looking for _R1.

[2016-01-11 03:43] rachelss commented on #11
Develop version now includes _R1 for all files and in all documentation. _R1 specified as variable so easily changed in future.

[2016-01-11 03:43] #11 closed

[2016-01-11 03:46] rachelss commented on #9
Currently requires _R1, but it's a variable so it's easily changed or could be specified by user

[2016-03-07 20:03] kaeldai opened #12 "(ERR): bowtie2-align died with signal 13 (PIPE)"
Tried running SISRS (develop branch) on a FreeBSD machine, using both minia and velvet. Kept receiving the following error:

When bowtie finishes the program continues and output for all the bams:

[2016-03-07 20:05] kaeldai commented on #12
Ran the command:

data was taken from rachelss/SISRS_test_data

[2016-03-07 21:26] rachelss commented on #12
The latest version of bowtie2 requires specifying the output file with a flag. I updated the SISRS script and it should work now.

[2016-03-07 21:26] #12 closed

[2017-04-21 22:48] zmertens opened #13 "Assertion Error in get_pruned_dict"
I've come across this error several times on my machine and on Hines. I'm using the command:

`bin/sisrs sites -g 11223441 -m 4 -t 0.99 -f /path/to/SISRS_test_data > sisrs_sites_out.txt`

This was with velvet/bowtie2.

[code]

[2017-06-27 17:24] rachelss opened #14 "Check for duplicate loci and combine"

[2017-06-27 17:25] rachelss opened #15 "Extend loci"

[2017-06-27 17:26] rachelss opened #16 "Try out different assemblers"

[2017-06-27 17:26] rachelss opened #17 "Accommodate long reads"

[2017-06-27 17:26] rachelss opened #18 "Check for paralogs"

[2017-06-27 17:29] rachelss opened #19 "Check for known genes"
https://wurmlab.github.io/genomicscourse/2016-SIB/practicals/busco/busco_tutorial

[2017-06-27 17:32] rachelss commented on #18
Brown, JM, RC Thomson. in press. Bayes factors unmask highly variable information content, bias, and extreme influence in phylogenomic analyses. Systematic Biology

[2017-06-27 17:37] rachelss opened #20 "Examine synteny"
Relates to locus extension and paralogs

[2017-08-17 22:57] reedacartwright opened #21 "Try Different Mappers"
Support the following mappers

 - [ ] BWA-MEM
 - [ ] Bowtie 2
 - [ ] NextGenMap

[2017-08-17 22:58] reedacartwright opened #22 "Detect external programs and produce list of supported values"
It should be possible for SISRS to report which assemblers, mappers, etc. are installed and tell the user what options they can use.

[2017-08-25 13:14] BobLiterman opened #23 "Memory"
When running the SISRS program with data from 8 ape species each ~10X coverage, the specific_genome.py script fails due to insufficient memory (Run on BlueWaves cluster on 1 node, 20ppn, 128Gb RAM)

[2017-08-25 13:15] BobLiterman opened #24 "Version Control"
Commands for Minia and Abyss have changed and SISRS will not run with newer versions (as of 8/25/2017).

Samtools v1.3.1 works, but Samtools v1.5 does not.

[2017-08-25 14:28] BobLiterman opened #25 "Integrate BBMap"
Subsampling via BBMap suite can specify total final desired bases, eliminating need to take read length into account.

[2017-08-27 15:43] BobLiterman opened #26 "Loci specific to Velvet"
copyRefContigs() code is specific to output format for velvet contig names. Should have either an assembler option, or auto-generate grep pattern from composite genome headers.

[2017-08-27 16:00] BobLiterman opened #27 "Depenedencies"
Mafft and PySam are required for loci, but are not listed in required programs.

[2017-08-31 23:41] zmertens opened #28 "Docker Container"
- Add a `Dockerfile`
 - Verify that SISRS functions within the Docker container
 - [Basic Example](https://github.com/zmertens/SISRS/tree/feature/docker)

[2017-08-31 23:44] zmertens opened #29 "Cython"
- Would it be worth cythonizing some of the types in the Python modules
    - Upside is that it's relatively simple to do and the static typing basically guarantees some speed increase
    - Downside is its another dependency and makes the Python less readable
 - Additional thing I want to add is we may be able to create CPP Wrappers and then import them as Python modules using Cython (but the ups

[2017-09-05 14:13] BobLiterman opened #30 "Log files being created"
During the bowtie/samtools steps, SISRS is exporting very large log files which don't appear to have any secondary use.

[2017-09-07 13:59] #27 closed

[2017-09-07 13:59] BobLiterman commented on #27
Added to README file in BobLiterman/SISRS

[2017-09-07 14:00] BobLiterman commented on #24
Specified Samtools v.1.3.1 in BobLiterman/SISRS

[2017-09-07 19:43] BobLiterman commented on #26
Fixed by tagging composite genome with 'SISRS_' prefix for all sequences prior to mapping

[2017-09-07 19:43] #26 closed

[2017-09-07 19:43] BobLiterman commented on #24
Specified working versions of Minia and Abyss in the readme.

[2017-09-07 19:43] #24 closed

[2017-09-07 19:49] reedacartwright commented on #30
@BobLiterman these should only be closed after you have submitted a pull request from your branches and it gets integrated into the develop or master branch at the main SISRS repo.

[2017-09-07 19:53] BobLiterman commented on #30
Thank you Reed. I'm actually writing the pull request comment as I type. The plan is to merge this with the master branch ASAP. Very much appreciate the github etiquette note, as I'm new to the community!

[2017-09-07 19:57] reedacartwright commented on #30
You can use keywords in a pull request to automatically close open issues.

https://help.github.com/articles/closing-issues-using-keywords/

[2017-09-08 00:23] anderspitman commented on #13
I was not get the error using Arch with:

* Linux kernel 4.12.8-2
* velvet 1.2.10
* bowtie 2.3.2

Any other ideas on what might be causing it on your machine?

[2017-09-08 00:24] anderspitman commented on #13
Oh wait it's actually not done yet. Looking at the wrong window. I'll update when it finishes.

[2017-09-08 21:41] reedacartwright opened #33 "Assigning Tasks"
With development of SISRS taking off this semester in two locations, it is important that we figure out who is addressing which issue or pull request. The easiest way to do it is if developers self-assign issues they are addressing and we have occasional skype meetings.

Thoughts @rachelss?

[2017-09-11 13:37] rachelss commented on #21
Hoping for an undergrad to try this

[2017-09-12 20:09] anderspitman commented on #13
Ok can confirm it didn't crash

[2017-09-12 22:55] zmertens commented on #13
I haven't had any issues from the Docker container, but when I started using Manjaro Linux I encountered the error (I had previously been using Ubuntu).

[2017-09-12 22:58] anderspitman commented on #25
This is completed, right? At least I noticed the lastest master requires BBMap and seems to use an executable from that package.

[2017-09-12 23:08] BobLiterman commented on #25
BBMap is currently used to rename scaffolds but this issue refers to the read normalization step and as such, has not been addressed. The confusion is on my end for using a vague issue title.

[2017-09-12 23:20] anderspitman commented on #13
I ran it both in the Docker container and on my Arch install directly.

[2017-09-12 23:31] anderspitman commented on #33
@rachelss, realated to this, @reedacartwright asked me to help out with a few SISRS issues if I can. Is there any specific priority of what you'd like me to look at? Preferably something I can work on using my local workstation.

[2017-09-12 23:49] rachelss commented on #13
Runs ok on CentOS as far as I know. I assumed python was portable among OS.

[2017-09-14 23:03] anderspitman opened #36 "Port to Python"
@reedacartwright and I wanted to start a conversation about possibly porting the bash portions of SISRS to Python. We both feel this would make it easier to maintain in the long run, but the work to do it may certainly be nontrivial. This is something I could possibly do myself or at least come up with a process whereby we all do it incrementally. Initial thoughts @rachelss?

[2017-09-14 23:03] anderspitman commented on #36
Oops. Accidentally hit enter and the issue got created. I'm working on the description now...

[2017-09-14 23:08] anderspitman opened #37 "Add unit testing/continuous integration"
It would be good to implement at least some basic testing and CI. The first step would be to come up with a standard small dataset to run against.

[2017-09-14 23:16] anderspitman commented on #36
# Advantages

* Easier for new people to work on. One common language.
* Easier to test (there are lots of great testing tools for Python)
* Could create a plugin system for adding more assemblers and aligners
* Easier argument parsing
* Easier integration with other tools/the web

# Hurdles

* Piping isn't as easy as bash
* Verifying nothing is broken (should probably do #37 first)

[2017-09-15 13:53] rachelss commented on #33
Yes we need to assign! I'll think about who might do what more substantially beyond issues.

[2017-09-18 14:34] BobLiterman commented on #37
Some considerations with respect to the sample dataset, an idea which I wholly agree with:

1) As you stated, small genomes would be great. I'm currently in hour 60 of a primate analysis, so we should be looking at things that are orders of magnitude smaller.

2) Ideally, at least one taxon from the dataset should have a well-annotated genome to facilitate dowsntream analyses.

3) Data should be a

[2017-09-29 00:01] anderspitman opened #44 "Is BBMap really a hard dependency?"
It's a pain to install (especially for continuous integration) and it appears we're only using one small script (rename.sh) from it.

[2017-09-29 00:14] rachelss commented on #44
Ask @BobLiterman

[2017-09-29 00:34] BobLiterman commented on #44
Long story short, what BBMap is doing now, a bash or Python script could do. I planned on integrating more down the line, but I'm open. As for installation, there isn't any. It just unzips. Do you mean Java is a pain?

[2017-09-29 00:40] anderspitman commented on #44
Technically you have to unzip + add it to your path. It wasn't too bad but significantly less desirable than apt-get. Currently the java isn't a problem, since it's apparently not using any of that functionality. That might be a bigger issue later but probably not too bad.

[2017-09-29 00:52] BobLiterman commented on #44
I see. I work out of an HPC system, so I can't apt-get anything. All dependencies must be compiled from source onto the cluster.

[2017-09-29 00:55] BobLiterman commented on #44
I can definitely write a quick Python or Bash script for the scaffold renaming if it's less hassle. BBMap is just very versatile with NGS data, like samtools, bowtie, and so many other programs wrapped into one. Added bonus, best user support of any program I've ever used.

[2017-10-10 22:55] zmertens commented on #36
We could use Cython to create Python modules for the C++ libraries that don't have Python modules already available. The process is pretty straightforward for creating a Python module from a CPP library with Cython:
 1) Setup a project in Python that uses `distutils` and `cython` modules and specify the CPP files
 2) Create a Python file which basically defines the implementation of the CPP class

[2017-10-11 20:14] reedacartwright commented on #36
I am skeptical that cython would help us out here. The best candidate to be
ported to Python is the Bash-based front end, and we don't need cython for
that. Unless I missed something.

On Tue, Oct 10, 2017 at 3:55 PM, Zach <notifications@github.com> wrote:

[2017-10-12 21:46] zmertens commented on #36
[This](https://github.com/zmertens/SISRS/tree/mappers/cython) is what I had in mind. It's still a work in progress (still trying to figure out the NGM api), but it would allow us to use NGM as a Python module, and that's what I think might help in the process of porting the BASH code to Python. As far as I know there isn't a NGM Python module (which is also the case for Bowtie and some of the asse

[2017-10-20 21:33] anderspitman commented on #36
With Whitezed mostly wrapping up, I'm in a good place to start working on this.

[2017-11-01 20:46] anderspitman commented on #37
@BobLiterman do you have (or would possibly be able to create) any small datasets that would be appropriate for unit testing (< 5 seconds to run) and/or integration testing (< 5 minutes)?

[2017-11-02 15:03] BobLiterman commented on #37
Hi @anderspitman, I wonder if the best way to go with that would be to use a preassembled bacterial genome dataset and a small number of real reads? That way, reads are mapping to something with the biological complexity of a real dataset, but in a size that is fast to run? Using the premade flag, one can skip the redundant step of repetitive genome assembly each time a test is run, cutting down o

[2017-11-02 15:15] anderspitman commented on #37
Unfortunately my input may not be very useful here. I know how assembly and alignment work, but barely understand what makes SISRS unique.

That said, using bacterial data seems like a good idea. Also using premade would be a great way to start. Since my primary goal for the testing stuff is to provide a baseline for a python port, I'm planning to start with the minimum amount of functionality. Th

[2017-11-02 15:42] BobLiterman commented on #37
It makes sense to me. Keep in mind I have added options in SISRS to run specific subroutines alone. In that way you could make benchmark datasets for each stage in the pipeline and save them such that you can run any step you wanted in a standalone fashion.

You'd basically have a raw data folder, and then you would do a SISRS run calling each function, starting from the top and moving down. Each

[2017-11-02 15:47] BobLiterman commented on #37
If you can give me a few days to get this grant done, I could probably create the data directories relatively quickly, and then you could just clone them all to have a clean version.

[2017-11-02 22:14] anderspitman commented on #37
@BobLiterman, I'm pretty sure I understand, and I really like this idea! From a testing point of view, there are several advantages. For one, when making changes to a specific part of the pipeline, the developer only has to worry about running unit tests for that stage, which will be a lot faster than running the entire pipeline. Entire pipeline tests would only need to be run when submitting a PR

[2017-11-02 22:21] anderspitman commented on #36
Looking long term I like @zmertens idea of potentially creating Python wrappers for some of the C++ assemblers and other projects we're using. The advantage is that it let's users automatically install these dependencies. The problem is we would then have to maintain packages (probably conda packages) for these softwares. It's something to look into though.

[2017-11-02 22:22] anderspitman commented on #36
For now it's fine to just invoke them through subprocesses.

[2017-11-02 22:27] anderspitman commented on #36
Anyone ever used [Luigi](https://github.com/spotify/luigi)? Looks interesting. I'm checking it out now.

[2017-11-02 22:30] BobLiterman commented on #37
I think we're on the same page. I'll look into this more next week.

[2017-11-02 22:47] reedacartwright commented on #36
Converting dependent programs to Cython is not going to provide enough of a performance boost to merit the effort involved. The majority of time is spent inside the external programs and reducing process invocations is not going to merit any noticeable increase.

[2017-11-03 00:01] anderspitman commented on #36
@reedacartwright, @zmertens, and I discussed wrapping offline and decided that the programs in question are common enough in the community to require separate installation, rather than trying to maintain python wrappers ourselves.

[2017-11-03 00:01] anderspitman commented on #36
@rachelss would it be ok to target Python 3 with the port?

[2017-11-03 00:05] rachelss commented on #36
Yes we need a complete upgrade to python3. Python 2 is now officially on its way out.

[2017-11-03 00:13] anderspitman commented on #36
Excellent. Do you happen to know which version of Python 3 it's safe to require of the intended users?

[2017-11-03 00:28] rachelss commented on #36
I'm not sure. Can we use 3.6.3? What can we do to ensure backwards compatibility? Or to throw errors if someone is running an old version and there's a compatibility issue? Can we use Docker containers to minimize issues?

I agree that the programs we utilize are common and likely to be installed already by most users of SISRS.

[2017-11-03 00:41] anderspitman commented on #36
3.6 would be fantastic. That includes every feature I might want to use. It really depends on what you want to support. It's a balancing act between using modern language features and supporting users with old systems. We can certainly aim for 3.6 and issue warnings for anyone using an older python. However, the only real solution for those users would be to install something like Miniconda. In my

[2017-11-07 23:15] anderspitman commented on #37
@BobLiterman one other thing we need to keep in mind is that we're going to want to have the example data use as many features as possible, in order to test most of the code paths. That may necessitate multiple versions of the same pipeline stage for runs with different options.

[2017-11-10 19:05] BobLiterman commented on #37
I gave this a first crack, with some caveats.

https://github.com/BobLiterman/SISRS_Small_Data

Basics:
1) I took 49 contigs from a primate SISRS run. (Damn header row)
2) Extracted associated reads for 8 species to recreate raw data
3) Created some special case data (2 individuals in a folder, all SE reads, SE + PE reads)
4) Ran SISRS step-by-step, outputting to a new folder each time.

Notes:

1

[2017-11-14 00:42] anderspitman commented on #37
This looks great @BobLiterman! I'll start playing with it and let you know if I have any feedback. Sounds like reference and loci aren't used as much so ignoring them for now is just fine by me. The python port I'm working on will be a great opportunity to drop features we don't need. I'm starting to guess we might actually just have the Python version become SISRS 2.0. That will make it easier fo

[2017-11-14 00:47] rachelss opened #48 "Website and documentation?"
If we want to encourage the use of SISRS we should explore ways to make it attractive to users. Readthdocs? Standalone website? Once there's a python port we can look at binder to include steps to run in Jupyter.

[2017-11-15 20:57] anderspitman commented on #37
Hey @BobLiterman, a couple questions.

Is it necessary to run against all 8 species, or can we get meaningful results from just one or two? I see in the SISRS documentation it says a site only requires 2 species to be included in the final alignment but I'm not sure if the species you used mostly cover the same sites or not.

I'm just trying to minimize the amount of processing needed for each tes

[2017-11-15 21:06] BobLiterman commented on #37
Well, in order to identify biallelic sites you need at least 4 taxa. So in that sense you could reduce it that far and still get all the output. That would be as simple as just removing four taxa and re-running the sub-steps, which I could do in a few minutes.

[2017-11-15 21:07] anderspitman commented on #37
Sweet. I don't think it's necessary to do just yet. I should be able to do all the plumbing with what we have now. But we'll leave that as an optimization if we run into trouble meeting travis' constraints.

[2017-11-15 21:12] anderspitman opened #49 "Is the output from seq_length.py actually used?"
When running `alignContigs` I noticed in the output that it's failing (due to me not having Biopython installed) but doesn't seem to affect the alignment. Is the output file `contigs_SeqLength.tsv` simply supplementary information?

[2017-11-15 21:14] BobLiterman commented on #49
Oh, yes, I use that for my work, but it is not integral to basic SISRS functions.

[2017-11-15 21:19] #49 closed

[2017-11-15 21:38] anderspitman commented on #37
What are some good tools for comparing BAM files to determine if they're semantically the same? ie I need to make sure the data I'm generating matches the output in your repo for each stage of the pipeline.

[2017-11-15 21:52] anderspitman commented on #37
Another question: For the commands listed in the Commands file, what directory did you run each of them from? I'm guessing from within 0_*, 1_*, etc?

[2017-11-16 01:33] BobLiterman commented on #37
Make raw data (d0), Copy raw folder to dir1, run command 1 in dir1, Copy new dir1 to dir2, Run command 2 in dir2, etc

[2017-11-20 17:33] rachelss commented on #37
Comparing BAMs. But keep in mind that mapping won't be identical every time so the files might not be the same and that might be ok.

http://seqanswers.com/forums/showthread.php?t=17644
http://deeptools.readthedocs.io/en/latest/content/tools/bamCompare.html

[2017-11-20 17:52] BobLiterman opened #51 "Using Bowtie across multiple nodes, if available"
Hey @anderspitman,

One major bottleneck with SISRS is that the Bowtie mapping steps occur serially, rather than in parallel. In part, this is because Bowtie itself does not run in MPI mode and therefore cannot fully utilizes multi-node systems.

However, it may be possible to use Python packages (e.g. https://pypi.python.org/pypi/dispy) to distribute parallel jobs across nodes. If the user, for i

[2017-11-21 21:17] anderspitman commented on #37
Thanks @rachelss. We'll definitely need to have deterministic behavior at each pipeline stage in order to properly do CI. That might not be too difficult. bowtie2 for example appears to support this (see [this page](http://bowtie-bio.sourceforge.net/bowtie2/manual.shtml#randomness-in-bowtie-2)).

I'll look into this more. Off the top of your heads what sources of non-determinism should I be lookin

[2017-11-21 21:43] anderspitman commented on #51
@BobLiterman on cursory inspection, I don't see any reason why we couldn't do this. Where exactly is the mapping code you're referring to in SISRS? You're not talking about `mapContigs`, right?

[2017-11-22 01:53] anderspitman commented on #37
FYI the [bamUtil diff command](https://genome.sph.umich.edu/wiki/BamUtil:_diff) seems to do exactly what we need for comparing BAM files. I've tested it a bit and even if the files don't match on the binary level (ie using diff or cmp), bamUtil does the job.

[2017-11-22 02:00] anderspitman commented on #37
@rachelss @BobLiterman I'm noticing some strange behavior. When running the command

`sisrs alignContigs -p X -a premade -c 0 -f 0_RawData_PremadeGenome -z output`

With different values of X for number of processors, I'm getting different output. Specifically, I noticed that the number of reported reads for GorGor (first line after "==== Aligning GorGor as Single-Ended ====") is different for low

[2017-11-22 02:03] anderspitman commented on #37
Also noticed 29380 is 2*14690. The other values increase on the same order but are not exact multiples.

[2017-11-22 02:07] anderspitman commented on #37
@BobLiterman additionally, when running `alignContigs` I haven't been able to get GorGor.bam to match what's in 0_RawData_PremadeGenome, even if I used -p 20 as you did. The output from SISRS is also different, though it does report 62644 reads. Are you sure the commands you ran match what's in the Commands file?

I am able to get identically data between 2 runs on my machine.

Thanks!

[2017-11-22 02:07] anderspitman commented on #37
**Haven't been able to get it to match what's in 1_alignContigs

[2017-11-22 14:46] BobLiterman commented on #51
The bowtie commands in alignContigs and identifyFixedSites

[2017-11-22 15:14] BobLiterman commented on #37
Definitely those are the commands. I don't run anything species-specific. Everything was run in batch with the commands as given. I ran the following command using the same data:

sisrs alignContigs -p 5 -a premade -c 0 -f DIR/0_RawData_PremadeGenome/ -z DIR/1_alignContigs_5CPU &> 1_alignContigs_5CPU_Log

I cannot recreate your processor-dependent mapping issue, as my Bowtie logs are identical (se

[2017-11-22 15:18] BobLiterman commented on #37
Identical with 1CPU as well.

[2017-11-22 15:28] BobLiterman commented on #37
Running the entire SISRS sites program with 5CPU starting from the raw data yielded identical counts of variable, biallelic, and PI sites as well, on my end.

[2017-11-22 16:04] BobLiterman opened #52 "Problematic Species"
Include an option to identify specific taxa which lead to disproportionate amounts of missing data for possible downstream filtering

[2017-11-22 16:06] BobLiterman commented on #52
@rachelss Can you assign this to me?

[2017-11-29 01:43] anderspitman commented on #37
Strange. Yeah when I run the following command:

`~/code/sisrs/SISRS/bin/sisrs alignContigs -p8 -a premade -c 0 -f ~/code/sisrs/SISRS/test_data/0_RawData_PremadeGenome/ -z output1 &> alignContigs_Log1`

Snippets from the results are below. You can see that the counts are the same (ie 62644 GorGor unpaired reads in both cases), but the percentage breakdowns are quite different. I don't think this i

[2017-12-05 20:06] rachelss commented on #4
@BobLiterman

[2017-12-08 00:54] anderspitman commented on #37
@BobLiterman I've been trying to get consistent behavior without too much success. I think I've narrowed a good chunk of it down to a specific problem. Can you run the following commands from within the `GorGor` directory and share your output?

[code]

[2017-12-08 00:55] anderspitman commented on #37
When varying -p X I am getting different answers for anything less than 4. Tried on 2 different machines. Could this be a bug in bowtie or am I just completely misunderstanding what the output means?

[2017-12-08 01:06] anderspitman commented on #37
Sorry, that wasn't specific enough. Can you run the commands from `0_RawData_PremadeGenome/GorGor`.

[2017-12-11 18:46] BobLiterman commented on #37
Ran from 0_RawData_PremadeGenome folder. Same results each time. You may want to consider reinstalling Bowtie2?

bowtie2-build premadeoutput/contigs.fa premadeoutput/contigs

#1_Processor
bowtie2 -p 1 -N 1 --local -x ./premadeoutput/contigs -U ./GorGor/GorGor_A_R1.fastq,./GorGor/GorGor_A_R2.fastq,./GorGor/GorGor_B_R1.fastq,./GorGor/GorGor_B_R2.fastq > out.sam

62644 reads; of these:
  62644 (100.0

[2017-12-13 21:59] anderspitman commented on #37
Very strange. Maybe it is bowtie.

[2017-12-13 22:08] anderspitman commented on #37
Latest version of bowtie2 (2.3.3.1) seems to fix it! Thanks for the suggestion. Just out of curiosity, which version are you using? 2.3.2 is the one that wasn't working for me.

[2017-12-15 14:39] BobLiterman commented on #37
The current version on my cluster is 2.2.4

[2018-01-19 02:28] anderspitman commented on #36
@rachelss @BobLiterman just wanted to give an update on this. I've been steadily working on the port, and so far I've basically implemented `alignContigs`, `identifyFixedSites`, and `outputAlignment`. Should be on track to pretty much wrap up `sites` functionality fairly soon. I'm also adding high level tests as I go to make sure each command is basically working the same as `bin/sisrs` (based on

[2018-01-19 02:31] anderspitman commented on #36
Oh I've also created a Dockerfile for development and running the tests. This solves the CI issues I was working with @BobLiterman on a while back (see #37). It also should make it much easier for users to get SISRS up and running with all the dependencies. All they need is docker installed. You can see all my changes on this branch: https://github.com/anderspitman/SISRS/tree/python-port

[2018-01-19 10:59] BobLiterman commented on #36
I have been tinkering with some memory reduction adjustments (mainly to getPrunedDict and outputAlignment) and the Python port will really help streamline things.

Don't worry about incorporating these into port v1, as they are easy to plug in down the road, I just wanted to show you what was new on our side.
 https://github.com/BobLiterman/SISRS/tree/MemorySaver?files=1

[2018-01-19 10:59] BobLiterman commented on #36
I have been tinkering with some memory reduction adjustments (mainly to getPrunedDict and outputAlignment) and the Python port will really help streamline things.

Don't worry about incorporating these into port v1, as they are easy to plug in down the road, I just wanted to show you what was new on our side.
 https://github.com/BobLiterman/SISRS/tree/MemorySaver?files=1

[2018-01-23 22:46] anderspitman commented on #37
@rachelss @BobLiterman, I ended up settling on [bamHash]() for comparing BAMs. `bamUtil` didn't end up working because I noticed occasionally bowtie2 would swap a couple lines in its output. Even though the files were semantically the same, `bamUtil` called them different. The way `bamHash` works is that it goes through a bam file and makes a hash of all the read names and sequences. So if two fil

[2018-01-24 12:12] BobLiterman commented on #37
Given  a genome and  a read, issuing the same Bowtie command should give you the same mapping (From our tests here). For your purposes (converting Bash to Python starting from the same data), this shouldn't be an issue.

[2018-01-24 12:43] rachelss commented on #37
A bam with the same read names and sequences does not necessarily have the same mapping. If your map data to two different genomes the reads and sequences will be the same, but obviously they will map differently. For a simple dataset (reads and genome) I would expect reads to all map the same place, although for complex data reads could map differently and still be accurate. If possible I would v

[2018-01-24 12:47] BobLiterman commented on #37
I believe, and correct me if I'm wrong, that this is just for the Python port process. Not to integrate into SISRS proprr

[2018-01-24 13:02] rachelss commented on #37
@anderspitman - This is for testing regardless of port or not? I'm not sure a change in mapping indicates a detrimental change in code. Assembly could vary and mapping will vary.  I'll have to think about this.

[2018-01-24 23:00] anderspitman commented on #37
Some clarification and good news:

To @BobLiterman's point, it is true that Bowtie should be deterministic. What I have observed though is if you have two reads that have the same name, samtools seems to randomly decide how to sort them. This is because samtools sorts by name, regardless of other content. In the test data we're using there are some cases of this.

That said, after thinking about i

[2018-01-24 23:01] anderspitman commented on #37
If we end up having issues with other data or non-bowtie2 aligner down the line, we might need to look into this more, but it seems pretty good for now.

[2018-01-25 00:18] rachelss commented on #37
Basic sort and compare seems very reasonable

[2018-01-31 20:52] anderspitman commented on #51
Came across [scoop](https://github.com/soravux/scoop) today. Might be a good alternative. Posting here to remember to check it out later.

[2018-02-01 02:02] anderspitman commented on #36
@rachelss @BobLiterman I've completed porting of `alignContigs`, `identifyFixedSites`, `outputAlignment`, and `changeMissing`. The code isn't super clean (and still shells out to unix tools a lot more than it needs to), but I do have integration-level tests in place so refactoring shouldn't be too dangerous.

At this point I think I'm about ready to officially merge in the python port in some capa

[2018-02-01 16:03] BobLiterman commented on #36
What about something like a 'scheduler mode' where if the user was running SISRS on a multi-node cluster with a scheduler (Torque, SLURM, etc), the program could auto-generate scripts to be submitted (based on a template script supplied)? Then, steps like Bowtie could be run in parallel through automated script submission? Just spitballing things I've thought of.

[2018-02-08 02:38] anderspitman commented on #36
Hey @BobLiterman, I've been reading up on distributed computing, since that does seem like an obvious big feature to add. For your proposed scheduler mode, would we need to implement compatibility with multiple schedulers, or would SLURM be sufficient? Also, SISRS uses pretty large data files. How is the data normally distributed for computations like this?

[2018-02-08 02:43] BobLiterman commented on #36
Theoretically, one could provide a dummy script for whatever scheduler they have, and the SISRS script could use that to generate multiple HPC scripts, independent of scheduler. User supplies dummy script and command [sbatch, qsub, etc] to submit scripts as an argument.

[2018-02-08 02:44] BobLiterman commented on #36
In terms of data, we may be able to generate some guidelines based on the data to estimate final data sizes?

[2018-02-08 02:59] anderspitman commented on #36
That scheduler script conversion would be slick, but likely a lot of work. You're essentially transpiling between multiple languages. Getting something working would probably be pretty straight-forward, but you could get killed by the corner cases. Not saying it isn't worth doing.

For data, my question is more general. If I do a run of SISRS on my local machine, all the input data is there on my

[2018-02-08 03:14] BobLiterman commented on #36
A) Scheudler scripts just make system calls, so it really wouldn't be hard to implement. I actually do it myself manually now. I have a script generator I can share to give you a sense of it.

B) Data on a cluster is also stored such that it's accessible by all nodes typically. No worries there.

[2018-02-08 03:18] anderspitman commented on #36
A) ok maybe I'm misunderstanding the nature of the problem. I'd like to take a look at that generator for sure

B) excellent

[2018-02-08 03:21] BobLiterman commented on #36
Emailed. Couldn't attach here from phone

[2018-02-08 03:25] anderspitman commented on #36
Thanks!

[2018-02-14 00:52] anderspitman commented on #36
@BobLiterman interacting with job schedulers seems doable, but I'm concerned it might not be the biggest bang for the buck. The risk we run is the entire python port never being used. If SISRS is going to go away in the not-to-distant future, then this isn't too big of a deal. But I think we have bigger aspirations for the project, and I really think SISRS will be much more maintainable and extend

[2018-02-14 01:00] anderspitman commented on #36
Again, I think the short term goal should be to get to a point where when you reach for SISRS, you reach for the Python version instead of the old version. What would it take to get to that point?

[2018-02-14 01:40] rachelss commented on #36
I think we need to find a time to pause work with the bash version, make the jump to python, and start working with it and fixing bugs. @BobLiterman is the only one using it regularly so it's up to him when he can stop. I'd say sooner.

[2018-02-20 22:57] rachelss commented on #36
@BobLiterman when do you want to make the jump to the all-python version and start troubleshooting?

[2018-02-20 23:03] BobLiterman commented on #36
Functionally, I'm out of SISRS right now as I'm onto the phylogentics analysis so I have no immediate plans to change base-SISRS.

If everyone is on board, I can start to incorporate the new features (streaming pileups, etc) into Anders' port so we can get the new all-Python official version.

[2018-02-21 22:21] anderspitman commented on #36
That sounds good to me, and I'm happy to help with the process. Biggest question in my mind is whether we merge the python code here or start a new repo and call it SISRS2 or something. If we merge it here we really should get rid of the bin/sisrs bash script, but that doesn't make sense to me since there's still a lot of missing features (ie loci), even if they aren't used as much.

[2018-02-22 00:55] rachelss commented on #36
Let's mark the bash version as a release. That will make it easy to checkout if needed. We could also put it on its own dead-end branch.

[2018-02-26 15:24] BobLiterman commented on #36
Alright folks. Here's the update.

1) I created two SISRS releases of the Bash version (one pre- and one post-memory streamlining implementations. (1.6.1, 1.6.2)

2) I created a new branch of Rachel's SISRS (Python_Port) to bring in Anders' Python port, which will becoming SISRS 2.0 once everything is troubleshot and appears to be in working order.

Best,
Bob

[2018-02-26 16:32] BobLiterman opened #55 "Python Port Documentation"
Hi @anderspitman,

After bringing over the new Python port branch, there are a few things that I'm unclear about. Would you mind creating a basic README with usage instructions (how to call new SISRS, etc)? I got some errors on my system right off the bat so I may just missing something basic.

There are lots of scripts wrapped up in different subfolders and I'm not sure what's being called, what'

[2018-02-26 22:02] anderspitman commented on #55
Yeah I can definitely put up a README. We should probably have a discussion about the user interface first to make sure it's what we want, since that's probably the biggest user-facing difference currently with the python version. I'll do a little mini README in a comment here to get the conversation started.

# Installation
sisrs can be installed using setupstools (and therefor eventually pip):

[2018-02-26 22:05] anderspitman commented on #55
To address some of your other concerns, based on what we've decided, I think `bin/` and `libexec/` are going to go away entirely. I've been porting over the scripts in `libexec/` and putting them under `sisrs/`, which is the python package directory. The `docker/` directory is around purely as an optional tool and for testing and will not affect users at all. As long as they have the depencies ins

[2018-02-26 22:08] anderspitman commented on #55
I'm actually in the middle of moving everything I've done so far over to Python 3. Once that's complete I'll remove `bin/` and `libexec/` to clean things up a bit.

[2018-02-26 22:52] BobLiterman commented on #55
Great. I think in light of that if there are no exceptions, I will hold off testing until the Python 3 conversion. That way I can continue with my stuff and just do one round of testing. Sound good @rachelss?

[2018-03-14 21:56] anderspitman commented on #36
@rachelss I'm assuming the assembler functionality is still desirable to have built in to SISRS? That's one of the biggest features still missing. I'm currently starting work on porting that over with velvet as the default, but with a plugin system to make it easy for other developers to add additional assemblers in the future.

@BobLiterman do by chance have a pre-assembled version of the test da

[2018-03-14 22:28] BobLiterman commented on #36
The test data is already assembled as 'premade' (contigs.fa in premadeoutput).

The data in the species folder could be used to assemble a de novo genome, but that process (to my knowledge) is NOT deterministic, especially if using the read subsamping script.

The assembly step is a great addition to the pipeline, but it adds a lot of overhead with respect to resources/run time. That's the whole r

[2018-03-20 21:30] kleigeb opened #59 "index out of range error"
Getting the following error when trying to run SISRS with the test data provided:

[code]

I ran the following command from the test data directory to produce the command:

`$ /software/SISRS-1.6.2/bin/sisrs sites -g 1745690 -p 24`

Let me know if there's any more info I can provide to help find a resolution. Thanks.

[2018-03-20 21:41] BobLiterman commented on #59
To clarify so that I can try to replicate, you're using the test  data from here?

https://github.com/rachelss/SISRS_test_data

[2018-03-20 21:53] kleigeb commented on #59
Correct.

On Tue, Mar 20, 2018 at 4:41 PM, Bob Literman <notifications@github.com>
wrote:

[2018-03-20 23:16] BobLiterman commented on #59
Alright, dove into the code and found what could have been the offending line. I was able to replicate your error, and then remove it. Clone the new code from GitHub and give it a shot?

Thanks for the heads up!

[2018-03-20 23:39] kleigeb commented on #59
Thanks! I'll give it a shot tomorrow morning and get back to you.

On Tue, Mar 20, 2018, 6:16 PM Bob Literman <notifications@github.com> wrote:

[2018-03-21 17:57] kleigeb commented on #59
Ran with the test data this morning and everything completed successfully!
Thanks for your lightning fast help!

On Tue, Mar 20, 2018 at 6:39 PM, Kevin Leigeb <kevin.leigeb@gmail.com>
wrote:

[2018-03-22 15:09] BobLiterman commented on #36
@anderspitman @reedacartwright @rachelss

What do you think about setting up a virtual meeting to chat about current progress of the port and future directions? With lots of parallel collaboration happening now, which is a first for this former lone-wolf, it would help me out a lot to lay down some concrete plans about what needs to be done and by whom.

Monday perhaps?

Bob

[2018-03-22 18:09] reedacartwright commented on #36
Next week is not a good week for me. I have more openings the week after.

[2018-03-22 19:57] anderspitman commented on #36
I'm pretty flexible. Tue, Thu, Fri are best in general.

[2018-03-22 19:59] rachelss commented on #36
How about the 3rd? 3:00 ET = 12:00 AZ?

[2018-03-22 21:25] reedacartwright commented on #36
Can we push it back to 1:00pm AZ? My class ends at noon that day, and I
would like to eat before I participate in a potentially long conference
call.

--
Reed A. Cartwright, PhD
Barrett Honors Faculty
Assistant Professor of Genomics, Evolution, and Bioinformatics
School of Life Sciences
Human and Comparative Genomics Laboratory
The Biodesign Institute
Arizona State University
==================
Av

[2018-03-22 23:34] rachelss commented on #36
Works for me 4:00 ET

[2018-03-23 15:57] BobLiterman commented on #36
Unfortunately I have to pick my son up from daycare by 5pm ET, so if it's possible to split the difference and call it 3:30 ET/12:30 AZ, I could at least be in for the beginning.

[2018-03-24 00:48] reedacartwright commented on #36
Monday is probably not going to work for me after all. I can do something in mid april after my tenure packet is submitted.

[2018-03-28 17:55] BobLiterman opened #63 "Subsample via normalization?"
Future thought: Instead of subsampling reads randomly, perhaps we could be assembling better genomes and getting more representative mapping if we instead:

1) Get raw reads for X species
2) Trim etc.
3) For 10X Mapping Data: Cat and normalize reads from each species by kmer to ~10X coverage (bbamp can do this)
4) For Genome Data: Subsample normalized reads to create genome data.

[2018-03-29 17:49] BobLiterman commented on #36
**WARNING**: Given the same input data, the bash and Python versions have different final outputs.

RAL_Memory

11724 total variable sites (alignment.nex)
5111 variable sites are singletons
6428 total biallelic sites excluding singletons (alignment_bi.nex)
6613 total variable sites excluding singletons (alignment_pi.nex)
With 6 taxa allowed to be missing, 11724 sites from alignment.nex (6 allowed

[2018-03-29 19:07] anderspitman commented on #36
Weird. What data are you using? I'll look into it

[2018-03-29 19:12] anderspitman commented on #36
Actually it's probably just Py2 vs Py3, because legacy SISRS has to use Py2 and sisrs-python has to use Py3, and there are definitely going to be differences. Theoretically the differences should not have a semantic impact, since they only involve sorting. However, at this early stage we should really confirm I'm not missing something. Can you try running legacy SISRS again but using the bash file

[2018-03-29 19:56] BobLiterman commented on #36
I will give a crack tomorrow. I'm adding the streaming bits now so it will be interesting if the effect goes away...

[2018-04-02 22:21] BobLiterman commented on #63
Check out other aligners, specifically with functionality at degenerate bases.

[2018-04-03 14:43] BobLiterman commented on #36
Relatively easy fix. There was an issue with how bases were being assigned to the species specific genomes and it came down to Py2/Py3 differences in how ties were handled (5 As vs. 5Ts for instance). I have updated the code in my Python and Bash version, and the pytest scripts all pass, and results are identical downstream. This minor hiccup underlies the importance of using mappers that can hand

[2018-04-03 18:11] BobLiterman commented on #36
Hello all,

I have finished up the first round of code swapping into Anders' new Python 3 code.

https://github.com/BobLiterman/SISRS/tree/RAL_Python

Major things I did:

1) Implemented streaming-type pipelines, which don't require multiple large pickled files to be created or loaded
2) Simplified code by removing extraneous bits (e.g. Reference genome data in outputAlignment)
3) Added some nice

[2018-04-03 21:53] anderspitman commented on #36
This all sounds great! A couple questions:

With A/T tie thing, I ran into the same issue. Was it in `specific_genome.py` by chance, or another place?

For the developer instructions, I agree that it is conceptually complicated. Can you give some more detail about the steps you go through to get up and running? It might be work sacrificing some flexibility in order to simplify the process. Then if

[2018-04-03 21:55] anderspitman commented on #36
Also, if you've changed around the directory layout for the output, we'll need to carefully consider how to update the test data to ensure we haven't introduced any regressions.

[2018-04-04 00:51] BobLiterman commented on #36
The A/T was in specific genome, yes.

All  that I did to run it was:

1) Clone
2) setup.py install
3) Edit code as needed
4) run pySISRS (cd to SISRS, run setup.py, cd back to where I was)
5) repeat

In terms of data structure, there were a few material changes:

1) Two new files are created in the genome folder: contigs_seqLength.tsv and contigs_LocList (or something like that)
2) No pickles are

[2018-04-04 01:12] anderspitman commented on #36
Ok it was probably the same place that gave me issues then. If you run into future Py2/Py3 problems you can take a look at PR #57 if you haven't already. Those were all the ones I found while moving to Py3.

I'm assuming you did all that from within the Docker container, right? Are you editing the code from within Docker as well? The only difference I see with what you're doing is you're not using

[2018-04-04 01:13] BobLiterman commented on #36
For the record, I didn't end up doing much in the Docker. I was just running sisrs-python on my system, as I have all the pre-reqs.

[2018-04-04 01:17] anderspitman commented on #36
That makes sense. Maybe I update the README to mention the Docker container as an option for getting the pre-reqs but remove all the directory mapping stuff?

[2018-04-04 01:18] BobLiterman commented on #36
Yeah. The Docker setup was a snap with those. I'd leave it at that.

[2018-04-09 19:14] BobLiterman opened #66 "Bowtie2 Version"
Hello all,

As @anderspitman found earlier, different versions of Bowite2 give slightly different mapping data. I noticed that in the Docker version is using v.2.3.3.1, while I was using 2.3.4 locally, and 2.2.4 on my cluster.

I think that it would be wise for everyone to use the same Bowtie2 version for testing, and in that vein I recommend that we all (and the Docker) upgrade to the latest majo

[2018-04-09 19:50] BobLiterman opened #67 "SISRS Log"
SISRS can generate a run ID (x random numbers) and a log file. The log file could include things like program versions, mapping stats, final stats, but without the intermediate bits (bowtie indexes etc.)

[2018-04-09 21:00] anderspitman commented on #66
Agree. I forgot that this one of the biggest reasons I recommend Docker for
development testing. It's the easiest way to ensure a consistent environment

On Mon, Apr 9, 2018, 12:14 PM Bob Literman <notifications@github.com> wrote:

[2018-04-11 21:48] anderspitman opened #68 "Python_Port: Remove bamhash from Dockerfile"
Pretty sure it's not needed since I made our own script for camparing bam files

[2018-04-11 22:15] anderspitman commented on #36
@BobLiterman I'm just realizing when I read your last message before I didn't fully process it. If my code was unsorting something that was supposed to be sorted, that's a pretty large cause for concern. It means our current test data is invalid, because it was generating using bash SISRS from PR #57.

[2018-04-12 15:01] BobLiterman commented on #36
There is one niggling issue that I'd like to address prior to generating new test data and that is the allowance of both compressed and uncompressed read files. Most people do not work on raw FASTQ files, but rather gzipped files. The fix was easy up top when detecting directories with data, but there was another FASTQ-only filter in the Bowtie script that I want to replace.

That shouldn't take m

[2018-04-13 22:56] anderspitman commented on #36
Sounds good. As long as you're confident the Python version is working, I'm fine with that plan. I think maybe I've been a bit paranoid wanting to make sure my port was 100% matching the output of the bash version, but that's mostly because I lack the background to know whether it's doing what it's supposed to.

[2018-04-18 22:29] anderspitman commented on #36
@BobLiterman what's your status? I recently completed a (mostly untested) implementation of the assembler plugin system, including plugins for velvet and minia. I think that pretty much wraps up the major functionality I wanted to get into place for the initial Python release.

As of right now my branch is still passing the tests, but it won't if I merge in the latest Python_Port branch which incl

[2018-04-19 11:48] BobLiterman commented on #36
I feel good about my changes as they stand now, and will generate new benchmark runs on the same test dataset with my Python version today.

[2018-04-19 17:05] BobLiterman commented on #36
Hot off the presses.

Generated from my fork, commit 696df201c79e186673f1f38eea9ae7a66cd839ec

https://github.com/BobLiterman/SISRS/tree/RAL_Python/Test_Data_04192018

I have a log for each step, and a start-to-finish command list, like the previous run.

[2018-04-19 21:54] anderspitman commented on #36
Awesome! I will update the tests to reflect that data, then merge our branches and get the final PR in.

[2018-04-27 01:16] anderspitman commented on #36
Hey @BobLiterman, sorry for the late feedback. School has been brutal this week. I'm working on resolving merge conflicts now. It looks like the only real one is in sisrs.py. I see you made significant changes to the `DirectoryLists` class, specifically removing the paired and unpaired lists in order to handle the gzip stuff. I'm using those lists in some of the commands I've implemented since you

[2018-04-27 01:33] BobLiterman commented on #36
Nope. Not really. Have at it!

[2018-05-02 22:26] anderspitman commented on #36
Sounds good!

[2018-06-20 14:45] BobLiterman opened #69 "Streamlined SISRS Log that supports checkpointing"
Certain tools in the SISRS pipeline (namely BAMTools) can fail for one reason or another and don't throw an explicit error when it happens. This makes restarting SISRS after 1 failed step cumbersome.

I will think about a solution where SISRS exports relevant information out into a clean log, INCLUDING parseable lines that could be used to detect breakpoints.

[2018-09-07 22:50] reedacartwright opened #71 "Update email address in Readme.md"
Readme.md still lists Rachel's ASU email address.

[2018-10-24 18:00] #28 closed

[2019-01-05 23:08] zmertens commented on #29
Closing due to discussion with @reedacartwright many moons ago that this project would not really benefit from Cython.

[2019-01-05 23:08] #29 closed

[2021-09-06 00:48] Mnsztnxl opened #72 "Bio.Nexus.Nexus.NexusError: Dimensions must be specified before matrix!"
when I run this command  "sisrs sites -g 1745690 -p 40 -m 4 -f /usr/test_data -z /usr/output_data -t .99 -a minia" ,after few minutes, it's said:"raise NexusError('Dimensions must be specified before matrix!') Bio.Nexus.Nexus.NexusError: Dimensions must be specified before matrix! filtering for missing failed."

[2021-09-06 00:55] BobLiterman commented on #72
Can you try this newer walkthrough?

https://github.com/BobLiterman/SISRS_Walkthrough

[2021-09-06 01:02] BobLiterman commented on #72
If you made it all the way to filtering, you may be able to start later in the pipeline too. Feel free to hit me up on Twitter @BobLiterman

[2021-11-02 21:31] rachelss commented on #72
@Mnsztnxl @BobLiterman  Please go to the newest version https://github.com/SchwartzLabURI/SISRS/

[2021-11-02 21:32] rachelss commented on #72
@Mnsztnxl Also check out https://schwartzlaburi.github.io/SISRS_CURE/book/ for a full walkthrough of a project with SISRS (designed at the undergrad level)